:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0% !important;
  padding: 0%;
}

body {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

.container {
  margin: auto;
  overflow: hidden;
  /* padding: 0 1.5rem; */
}

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: "";
  background: url(../img/contact2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  background-color: rgba(0, 244, 252, 0.178);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}

.btn:hover {
  opacity: 0.7;
  color: inherit;
}

#about .container .row .col-md-5 p {
  line-height: 1.45rem;
}

#about .container .row .col-md-5 .lead a .fas{
  font-size: 2rem;
  color: #222222;
  animation: changeColor 4000ms infinite !important;
}

.showcase .showcase-inner .showcase-inner-info {
  width: 100%;
  display: inline-block !important;
  overflow: hidden;
}

#work .container .work-slider .slider-image {
  display: inline-block !important;
  overflow: hidden;
}

#about .container .row .col-md-7 .slider-wrapper .slider-image {
  display: inline-block;
  padding: .7rem;
  border-radius: 5px;
  background-color: #343a40;
}

#what .container .card-deck .card {
  background-color: var(--overlay-color);
  color: #fff;
}

#what .container .card-deck .card:hover {
  background-color: var(--overlay-color) !important;
  color: #fff !important;
  opacity: card 0.75 !important;
  cursor: pointer;
  transition: 1.5s all ease-in;
}

#what .container .row .d-flex {
  font-size: .8rem;
  display: flex;
}
#what .container .row .d-flex .flex {
  flex: 2;
}
#what .container .row .d-flex p {
  padding: 1%;
  margin: 0%;
}
#what .container .row .progress {
  background-color: var(--overlay-color) !important;
  height: 10px;
}
#what .container .row .progress .progress-bar {
  background-color: #fff !important;
}

#work .container .work-slider .slider-image img {
  width: 100%;
  height: 100%;
} 

#work .container .work-slider .slider-image:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1.2s all ease-in;
}

input[type=text],
input[type=email],
input[type=tel],
form .form-group .input-group select,
form .form-group .input-group textarea {
  background: #222222 !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 0.95rem !important;
}
form .form-group .input-group textarea {
  height: 100px !important;
}
form .form-group .input-group select {
  width: 35rem;
  background: #222222 !important;
  color: #fff;
  padding: 0.50rem 1rem;
}

footer {
  background: #222222;
  margin: 0% !important;
}

footer .container > p {
  font-size: 0.85rem;
  margin: 0%;
  padding-top: 0.3rem;
}

footer .container .social a {
  font-size: 1.1rem;
  padding: .4rem .6rem;
  margin: 0rem .2rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;;
  transition: all ease-in-out .3s;
}

footer .social a:hover {
  padding: .7rem .8rem;
  color: rgba(255, 255, 255, 0.856);
  transition: all ease-in-out .3s;
  border-radius: 0%;
}


/* MEDIA QUERIES */
/* @media(max-width:1024px) {
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
} */



@media(max-width:768px) {
  #about .container .mb-5 {
    margin-bottom: 0 !important;
  }
  #what .container .py-5 {
    padding-top: 10px !important;
  }
  #what .container .row .card-deck .card {
    cursor: pointer;
    border: none !important;
    background-color: var(--overlay-color) !important;
    opacity: card 0.75 !important;
  }
  #work {
    padding-top: 0% !important;
  }
  #work .container .py-5 {
    padding-top: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 20px !important;
  }
  #work .container .row p {
    /* padding-left: 10px !important; */
    text-align: center;
  }
  #work .container .row .card-deck .card img {
    opacity: 1;
  }
  #work .container .row .mt-4 {
    margin-top: 0% !important;
  }
  #contact {
    margin-top: 0% !important;
  }
  #contact .container .row .col-md-6 .pt-5 {
    padding-top: 5% !important;
  }
}

@media(min-width:768px) {
  #about .container .mb-5 {
    margin-bottom: 40px !important;
  }
}

@keyframes changeColor {
  0% {
      color: rgb(22, 22, 22);
  }
  50% {
      color: rgb(0, 114, 167);
      transform: scaleY(1.2);
  }
}
